body {

} 

#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1;
    opacity: 0.9;
}

.stretch {
    width:100%;
    height:100%;
}

.img {
	margin: auto;
	margin-top: 50px;
    text-align: center; 
    overflow: hidden;
	display: block;
}

.header{
	text-align: left;
	font-size: 300%;
	font-weight: bold;
	font-variant: small-caps; 
	color: #4a89ef;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.title_header{
	font-size: 150%;
	font-weight: bold;
	font-variant: small-caps; 
	color: #4a89ef;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.main_bar{
	background-color: #4a89ef;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	height: 50px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 200%;
	color: white;
	text-align: center;
}

input.login {
	width: 100px;
	height: 30px;
	background-color: white;
    border-radius: 12px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: right;
    font-family: "Comic Sans MS", cursive, sans-serif;
    cursor: url(http://cursors0.totallyfreecursors.com/thumbnails/dragonflyglitter21.gif), auto;
}

input.signup {
	width: 100px;
	height: 30px;
	background-color: white;
    border-radius: 12px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
    font-family: "Comic Sans MS", cursive, sans-serif;
    cursor: url(http://cursors0.totallyfreecursors.com/thumbnails/dragonflyglitter21.gif), auto;
}

input.NewPost {
	width: 100px;
	height: 30px;
	background-color: white;
    border-radius: 12px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
    font-family: "Comic Sans MS", cursive, sans-serif;
    cursor: url(http://cursors0.totallyfreecursors.com/thumbnails/dragonflyglitter21.gif), auto;
}

input.NewPost:hover {
    background-color: #9ec2ff;
    color: white;
}

input.login:hover {
    background-color: #9ec2ff;
    color: white;
}

input.signup:hover {
    background-color: #9ec2ff;
    color: white;
}

input.login_page_button{
	width: 100px;
	height: 30px;
	background-color: white;
    border-radius: 12px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 8px;
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
    font-family: "Comic Sans MS", cursive, sans-serif;
    cursor: url(http://cursors0.totallyfreecursors.com/thumbnails/dragonflyglitter21.gif), auto;
}

input.login_page_button:hover {
    background-color: #9ec2ff;
    color: white;
}

input.login_page {
	background-color: white;
	font-family: "Comic Sans MS", cursive, sans-serif;
    border-radius: 12px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
	width: 175px;
}

input.login_page:hover {
    background-color: #9ec2ff;
    color: white;
}

.postList{
	 font-family: "Comic Sans MS", cursive, sans-serif;
	 font-size: 105%;
	 color: #727bff;
}

/* unvisited link */
a:link {
    color: #4a89ef;
}

/* visited link */
a:visited {
    color: #8346bf;
}

/* mouse over link */
a:hover {
    color: #b72885;
}

/* selected link */
a:active {
    color: lightblue;
}

.cursor {
   cursor: url("http://cursors1.totallyfreecursors.com/thumbnails/dragonflyblue.gif"), auto;
}

.dropbtn {
    background-color: white;
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: center;
    border-radius: 12px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
	width: 175px;
	cursor: url(http://cursors0.totallyfreecursors.com/thumbnails/dragonflyglitter21.gif), auto;
}

.dropbtn:hover {
    background-color: #9ec2ff;
    color: white;
}

.error{
	color: red;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: bold;
}

.success{
	color: blue;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: bold;
}

input.text_box {
	vertical-align: text-top;
	background-color: white;
	text-align: top;
	word-wrap: break-word;
	height: 500px;
	width: 500px;
	font-family: "Comic Sans MS", cursive, sans-serif;
    border-radius: 12px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}

input.text_box:hover {
    background-color: #9ec2ff;
    color: white;
}

input.title_text_box {
	background-color: white;
	height: 25px;
	width: 200px;
	font-family: "Comic Sans MS", cursive, sans-serif;
    border-radius: 12px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}

input.title_text_box:hover {
    background-color: #9ec2ff;
    color: white;
}

input.delete {
	width: 100px;
	height: 30px;
	background-color: white;
    border-radius: 12px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: right;
    font-family: "Comic Sans MS", cursive, sans-serif;
    cursor: url(http://cursors0.totallyfreecursors.com/thumbnails/dragonflyglitter21.gif), auto;
}

input.delete:hover {
    background-color: #9ec2ff;
    color: white;
}
